<div> 
    <h2>Available drones</h2>
    <ul>
        {{#each droneList}}
            <li>{{name}}</li>
            <li>{{propellers}}</li>
            <li>{{maxSpeed}}</li>
            <br>
        {{/each}}
    </ul>

</div>
