<div>

<h2>Update the drone</h2>

<form action="/drones/{{selectedDrone._id}}/edit" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" value="{{selectedDrone.name}}">
        <br>
        <label for="propellers">Propulsores</label>
        <input type="text" name="propellers" value="{{selectedDrone.propellers}}">
        <br>
        <label for="speed">Velocidad</label>
        <input type="text" name="speed" value="{{selectedDrone.maxSpeed}}">
        <br>
        <button>Modificar dron</button>
    </form>
</div>